.contenedor-confirmacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 780px;
  margin-top: 100px;
  position: relative;
  gap: 20px;
  padding-bottom: 20px;
}

.contenedor-confirmacion::before {
  content: "";
  height: 53px;
  width: 100%;
  background-color: rgba(102, 220, 230, 0.6);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

.contenedor-confirmacion h2 {
  font-family: "Coiny", system-ui;
  font-weight: 500;
  font-size: 23px;
  position: relative;
  z-index: 4;
  margin-top: 12px;
}
.contenedor-titulo-detalles {
  position: relative;
  left: 0;
}
.titulo-detalles-reserva {
  font-size: 25px;
  font-family: "Coiny", system-ui;
  align-self: flex-start;
  margin-left: 70px;
  margin-top: 30px;
}
.seccion-central {
  display: flex;
  gap: 80px;
  align-items: center;
}

.confirmacion-datos {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}
.confirmacion-datos span {
  font-size: 17px;
}
.datos-icono {
  color: #b58ce6;
}
.seccion-botones {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  margin-bottom: 15px;
}
.seccion-botones button {
  width: 60%;
  height: 45px;
  padding: 5px 60px;
  background-color: #b58de6;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.seccion-alergias p {
  text-align: start;
}
.seccion-alergias {
  margin-top: 10px;
}
.titulo-alergias {
  margin-bottom: 30px;
}

.titulo-alergias p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.titulo-alergias p:last-child {
  margin-left: 20px;
}
