.contenedor-personas {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 630px;
  height: 400px;
  margin-top: 100px;
  position: relative;
}

.contenedor-personas::before {
  content: "";
  height: 53px;
  width: 100%;
  background-color: rgba(102, 220, 230, 0.6);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.titulo-personas {
  font-family: "Coiny", system-ui;
  font-size: 22px;
  position: absolute;
  top: 10px;
}

.personas-telefono {
  display: flex;
}

.escoger-personas-1 {
  display: flex;
  justify-content: space-between;
}

.numeros-personas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #b58ce6;
  border-radius: 50%;
}

.contactanos-directamente {
  background-color: rgba(179, 140, 227, 0.2);
}

.horario-contactanos {
  background-color: rgba(179, 140, 227, 0.2);
}

.informacion-disponibilidad {
  background-color: rgba(179, 140, 227, 0.3);
}

.boton-personas {
  background-color: #b58de6;
  border: none;
  text-transform: uppercase;
  /* font-family: "Coiny", system-ui; */
  padding: 20px 60px;
  width: 340px;
  font-weight: bold;
  font-size: 23px;
  color: white;
  border-radius: 17px;
  box-shadow: 0 3px 3px rgb(0, 0, 0, 25%);
}
