.contenedor {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(223, 232, 248);
  text-align: center;
  border-radius: 18.67px;
  box-shadow: 0 6px 20px rgba(30, 144, 255, 0.2),
    0 12px 40px rgba(181, 141, 230, 0.4);
  border: solid 3px #b58de6;
}
