.cabecera-pagina {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  pointer-events: none;
}

.cabecera-pagina > * {
  pointer-events: auto;
}
